# 1-to-1 data merge

#### EXERCISE:
Merging data allows you to combine disparate datasets into a single dataset to do more complex analysis.

Here, you'll be using survey data that contains readings that William Dyer, Frank Pabodie, and Valentina Roerich took in the late 1920 and 1930 while they were on an expedition towards Antarctica.
The dataset was taken from a sqlite database from the <a href="http://swcarpentry.github.io/sql-novice-survey/" target="_blank">Software Carpentry SQL lesson</a>.

Two DataFrames have been pre-loaded: <code>site</code> and <code>visited</code>. Explore them in the IPython Shell and take note of their structure and column names. Your task is to perform a 1-to-1 merge of these two DataFrames using the <code>'name'</code> column of <code>site</code> and the <code>'site'</code> column of <code>visited</code>.

#### INSTRUCTIONS:
* Merge the <code>site</code> and <code>visited</code> DataFrames on the <code>'name'</code> column of <code>site</code> and <code>'site'</code> column of <code>visited</code>.
* Print the merged DataFrame <code>o2o</code>.

#### SCRIPT.PY:

In [5]:
import pandas as pd
site = pd.DataFrame({
    "name": ["DR-1", "DR-3", "MSK-4"],
    "lat": ["-49.85", "-47.15", "-48.87"],
    "long": ["-128.57", "-126.72", "-123.40"]
})
visited = pd.DataFrame({
    "ident": [619, 734, 837],
    "site": ["DR-1", "DR-3", "MSK-4"],
    "dated": ["1927-02-08", "1939-01-07", "1932-01-14"]
})
# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, left_on="name", right_on="site")

# Print o2o
print(o2o)

    name     lat     long  ident   site       dated
0   DR-1  -49.85  -128.57    619   DR-1  1927-02-08
1   DR-3  -47.15  -126.72    734   DR-3  1939-01-07
2  MSK-4  -48.87  -123.40    837  MSK-4  1932-01-14