# Many-to-1 data merge

#### EXERCISE:
In a many-to-one (or one-to-many) merge, one of the values will be duplicated and recycled in the output.
That is, one of the keys in the merge is not unique.

Here, the two DataFrames <code>site</code> and <code>visited</code> have been pre-loaded once again.
Note that this time, <code>visited</code> has multiple entries for the <code>site</code> column. Confirm this by exploring it in the IPython Shell.

The <code>.merge()</code> method call is the same as the 1-to-1 merge from the previous exercise, but the data and output will be different.

#### INSTRUCTIONS:
* Merge the <code>site</code> and <code>visited</code> DataFrames on the <code>'name'</code> column of <code>site</code> and <code>'site'</code> column of <code>visited</code>, exactly as you did in the previous exercise.
* Print the merged DataFrame and then hit 'Submit Answer' to see the different output produced by this merge!

#### SCRIPT.PY:

In [6]:
import pandas as pd
site = pd.DataFrame({
    "name": ["DR-1", "DR-3", "MSK-4"],
    "lat": ["-49.85", "-47.15", "-48.87"],
    "long": ["-128.57", "-126.72", "-123.40"]
})
visited = pd.DataFrame({
    "ident": [619, 622, 734, 735, 751, 752, 837, 844],
    "site": ["DR-1", "DR-1", "DR-3", "DR-3", "DR-3", "DR-3", "MSK-4", "DR-1"],
    "dated": ["1927-02-08", "1927-02-10", "1939-01-07", "1930-01-12", "1930-02-26", "", "1932-01-14", "1932-03-22"]
})
# Merge the DataFrames: m2o
m2o = pd.merge(left=site, right=visited, left_on="name", right_on="site")

# Print m2o
print(m2o)

    name     lat     long  ident   site       dated
0   DR-1  -49.85  -128.57    619   DR-1  1927-02-08
1   DR-1  -49.85  -128.57    622   DR-1  1927-02-10
2   DR-1  -49.85  -128.57    844   DR-1  1932-03-22
3   DR-3  -47.15  -126.72    734   DR-3  1939-01-07
4   DR-3  -47.15  -126.72    735   DR-3  1930-01-12
5   DR-3  -47.15  -126.72    751   DR-3  1930-02-26
6   DR-3  -47.15  -126.72    752   DR-3
7  MSK-4  -48.87  -123.40    837  MSK-4  1932-01-14