# Many-to-many data merge

#### EXERCISE:
The final merging scenario occurs when both DataFrames do not have unique keys for a merge.
What happens here is that for each duplicated key, every pairwise combination will be created.

Two example DataFrames that share common key values have been pre-loaded: <code>df1</code> and <code>df2</code>. Another DataFrame <code>df3</code>,
which is the result of <code>df1</code> merged with <code>df2</code>, has been pre-loaded. All three DataFrames have been  printed - look at the output and notice how pairwise combinations have been created. This example is to help you develop your intuition for many-to-many merges.

Here, you'll work with the <code>site</code> and <code>visited</code> DataFrames from before, and a new <code>survey</code> DataFrame. Your task
is to merge <code>site</code> and <code>visited</code> as you did in the earlier exercises. You will then merge this merged DataFrame with <code>survey</code>.

Begin by exploring the <code>site</code>, <code>visited</code>, and <code>survey</code> DataFrames in the IPython Shell.

#### INSTRUCTIONS:
* Merge the <code>site</code> and <code>visited</code> DataFrames on the <code>'name'</code> column of <code>site</code> and <code>'site'</code> column of <code>visited</code>, exactly as you did in the previous two exercises. Save the result as <code>m2m</code>.
* Merge the <code>m2m</code> and <code>survey</code> DataFrames on the <code>'ident'</code> column of <code>m2m</code> and <code>'taken'</code> column of <code>survey</code>.
* Hit 'Submit Answer' to print the first 20 lines of the merged DataFrame!

#### SCRIPT.PY:

In [2]:
import pandas as pd
site = pd.DataFrame({
    "name": ["DR-1", "DR-3", "MSK-4"],
    "lat": ["-49.85", "-47.15", "-48.87"],
    "long": ["-128.57", "-126.72", "-123.40"]
})
visited = pd.DataFrame({
    "ident": [619, 622, 734, 735, 751, 752, 837, 844],
    "site": ["DR-1", "DR-1", "DR-3", "DR-3", "DR-3", "DR-3", "MSK-4", "DR-1"],
    "dated": ["1927-02-08", "1927-02-10", "1939-01-07", "1930-01-12", "1930-02-26", "", "1932-01-14", "1932-03-22"]
})
survey = pd.DataFrame({
    "taken": [619, 619, 622, 622, 734, 734, 734, 735, 735, 735, 751, 751, 751, 752, 752, 752, 752, 837, 837, 837, 844],
    "person": ["dyer", "dyer", "dyer", "dyer", "pb", "lake", "pb", "pb", "", "", "pb", "pb", "lake", "lake", "lake", "lake", "roe", "lake", "lake", "roe", "roe"],
    "quant": ["rad", "sal", "rad", "sal", "rad", "sal", "temp", "rad", "sal", "temp", "rad", "temp", "sal", "rad", "sal", "temp", "sal", "rad", "sal", "sal", "rad"],
    "reading": [9.82, 0.13, 7.8, 0.09, 8.41, 0.05, -21.5, 7.22, 0.06, -26, 4.35, -18.5, 0.1, 2.19, 0.09, -16, 41.6, 1.46, 0.21, 22.5, 11.25]
})
# Merge site and visited: m2m
m2m = pd.merge(left=site, right=visited, left_on="name", right_on="site")

# Merge m2m and survey: m2m
m2m = pd.merge(left=m2m, right=survey, left_on="ident", right_on="taken")

# Print the first 20 lines of m2m
print(m2m.head(20))

     name     lat     long  ident   site       dated  taken person quant  \
0    DR-1  -49.85  -128.57    619   DR-1  1927-02-08    619   dyer   rad
1    DR-1  -49.85  -128.57    619   DR-1  1927-02-08    619   dyer   sal
2    DR-1  -49.85  -128.57    622   DR-1  1927-02-10    622   dyer   rad
3    DR-1  -49.85  -128.57    622   DR-1  1927-02-10    622   dyer   sal
4    DR-1  -49.85  -128.57    844   DR-1  1932-03-22    844    roe   rad
5    DR-3  -47.15  -126.72    734   DR-3  1939-01-07    734     pb   rad
6    DR-3  -47.15  -126.72    734   DR-3  1939-01-07    734   lake   sal
7    DR-3  -47.15  -126.72    734   DR-3  1939-01-07    734     pb  temp
8    DR-3  -47.15  -126.72    735   DR-3  1930-01-12    735     pb   rad
9    DR-3  -47.15  -126.72    735   DR-3  1930-01-12    735          sal
10   DR-3  -47.15  -126.72    735   DR-3  1930-01-12    735         temp
11   DR-3  -47.15  -126.72    751   DR-3  1930-02-26    751     pb   rad
12   DR-3  -47.15  -126.72    751   DR-3  1930-02-26    751     pb  temp
13   DR-3  -47.15  -126.72    751   DR-3  1930-02-26    751   lake   sal
14   DR-3  -47.15  -126.72    752   DR-3                752   lake   rad
15   DR-3  -47.15  -126.72    752   DR-3                752   lake   sal
16   DR-3  -47.15  -126.72    752   DR-3                752   lake  temp
17   DR-3  -47.15  -126.72    752   DR-3                752    roe   sal
18  MSK-4  -48.87  -123.40    837  MSK-4  1932-01-14    837   lake   rad
19  MSK-4  -48.87  -123.40    837  MSK-4  1932-01-14    837   lake   sal

    reading
0      9.82
1      0.13
2      7.80
3      0.09
4     11.25
5      8.41
6      0.05
7    -21.50
8      7.22
9      0.06
10   -26.00
11     4.35
12   -18.50
13     0.10
14     2.19
15     0.09
16   -16.00
17    41.60
18     1.46
19     0.21