# Using and unpacking tuples

#### EXERCISE:
Tuples are made of several items just like a list, but they cannot be modified in any way. It
is very common for tuples to be used to represent data from a database. If you have a tuple like
<code>('chocolate chip cookies', 15)</code> and you want to access each part of the data, you can use an
index just like a list. However, you can also "unpack" the tuple into multiple variables such 
as <code>type, count = ('chocolate chip cookies', 15)</code> that will set <code>type</code> to <code>'chocolate chip cookies'</code> and <code>count</code> to <code>15</code>.

Often you'll want to pair up multiple array data types. The <code>zip()</code> function does just that. 
It will return a list of tuples containing one element from each list passed into <code>zip()</code>.

When looping over a list, you can also track your position in the list by using the <code>enumerate()</code> function. The function returns  the index of the list item you are currently on in the list and the list item itself.

You'll practice using the <code>enumerate()</code> and <code>zip()</code> functions in this exercise, in which your job is to pair up the most common boy and girl names. Two lists - <code>girl_names</code> and <code>boy_names</code> - have been pre-loaded into your workspace.

#### INSTRUCTIONS:
* Use the <code>zip()</code> function to pair up <code>girl_names</code> and <code>boy_names</code> into a variable called <code>pairs</code>.
* Use a <code>for</code> loop to loop through <code>pairs</code>, using <code>enumerate()</code> to keep track of your position. Unpack <code>pairs</code> into the variables <code>idx</code> and <code>pair</code>.
* Inside the <code>for</code> loop:
 * Unpack <code>pair</code> into the variables <code>girl_name</code> and <code>boy_name</code>.
 * Print the rank, girl name, and boy name, in that order. The rank is contained in <code>idx</code>.

#### SCRIPT.PY:

In [2]:
girl_names = ['TAYLOR', 'London', 'Serenity', 'AALIYAH', 'SERENITY', 'Sarah', 'MADISON', 'Sofia', 'GABRIELLE', 'CHAYA', 'MAKAYLA', 'Kayla', 'Samantha', 'Ava', 'TIFFANY', 'Emma', 'SARAH', 'NEVAEH', 'Victoria', 'Ashley', 'Skylar', 'SOPHIA', 'LEAH', 'Esther', 'ANGELA', 'Taylor', 'Claire', 'KAYLA', 'Miriam', 'ESTHER', 'Alina', 'HAILEY', 'ABIGAIL', 'AVA', 'CHANA', 'GENESIS', 'GRACE', 'Anna', 'CHLOE', 'Valentina', 'Savannah', 'Rachel', 'ASHLEY', 'Mariam', 'ISABELLA', 'Leah', 'JADA', 'Zoe', 'MIRIAM', 'Chaya', 'Chloe', 'Emily', 'RACHEL', 'Camila', 'ELLA', 'CAMILA', 'SOFIA', 'EMILY', 'Fatoumata', 'EMMA', 'Sophia', 'Olivia', 'Isabella', 'FIONA', 'MIA', 'Grace', 'Aaliyah', 'Chana', 'Madison', 'LONDON', 'Mia', 'Angela', 'Brielle', 'OLIVIA']
boy_names = ['LUCAS', 'MOSHE', 'Elijah', 'BENJAMIN', 'JOSEPH', 'Aiden', 'JEREMIAH', 'CHRISTOPHER', 'Josiah', 'DAVID', 'MUHAMMAD', 'Lucas', 'ALEXANDER', 'Jason', 'ISAIAH', 'David', 'SAMUEL', 'Joshua', 'Muhammad', 'Samuel', 'JOSIAH', 'MATTHEW', 'Amir', 'ANTHONY', 'ANGEL', 'JACOB', 'Jack', 'Ethan', 'AIDEN', 'JOSHUA', 'Alexander', 'James', 'JASON', 'DANIEL', 'RYAN', 'Carter', 'Michael', 'Angel', 'Jeremiah', 'Noah', 'JAMES', 'Mason', 'CHRISTIAN', 'KEVIN', 'ETHAN', 'Matthew', 'Daniel', 'Dylan', 'JUSTIN', 'William', 'Eric', 'JACK', 'Ryan', 'NOAH', 'ELIJAH', 'MICHAEL', 'MASON', 'TYLER', 'Sebastian', 'Joseph', 'Liam', 'JAYDEN', 'Moshe', 'Benjamin', 'Jacob', 'SEBASTIAN', 'ERIC', 'Jayden']
# Pair up the boy and girl names: pairs
pairs = zip(girl_names, boy_names)

# Iterate over pairs
for idx, pair in enumerate(pairs):
    # Unpack pair: girl_name, boy_name
    girl_name, boy_name = pair
    # Print the rank and names associated with each rank
    print('Rank {}: {} and {}'.format(idx, girl_name, boy_name))

Rank 0: TAYLOR and LUCAS
Rank 1: London and MOSHE
Rank 2: Serenity and Elijah
Rank 3: AALIYAH and BENJAMIN
Rank 4: SERENITY and JOSEPH
Rank 5: Sarah and Aiden
Rank 6: MADISON and JEREMIAH
Rank 7: Sofia and CHRISTOPHER
Rank 8: GABRIELLE and Josiah
Rank 9: CHAYA and DAVID
Rank 10: MAKAYLA and MUHAMMAD
Rank 11: Kayla and Lucas
Rank 12: Samantha and ALEXANDER
Rank 13: Ava and Jason
Rank 14: TIFFANY and ISAIAH
Rank 15: Emma and David
Rank 16: SARAH and SAMUEL
Rank 17: NEVAEH and Joshua
Rank 18: Victoria and Muhammad
Rank 19: Ashley and Samuel
Rank 20: Skylar and JOSIAH
Rank 21: SOPHIA and MATTHEW
Rank 22: LEAH and Amir
Rank 23: Esther and ANTHONY
Rank 24: ANGELA and ANGEL
Rank 25: Taylor and JACOB
Rank 26: Claire and Jack
Rank 27: KAYLA and Ethan
Rank 28: Miriam and AIDEN
Rank 29: ESTHER and JOSHUA
Rank 30: Alina and Alexander
Rank 31: HAILEY and James
Rank 32: ABIGAIL and JASON
Rank 33: AVA and DANIEL
Rank 34: CHANA and RYAN
Rank 35: GENESIS and Carter
Rank 36: GRACE and Michael
Rank 37: Anna and Angel
Rank 38: CHLOE and Jeremiah
Rank 39: Valentina and Noah
Rank 40: Savannah and JAMES
Rank 41: Rachel and Mason
Rank 42: ASHLEY and CHRISTIAN
Rank 43: Mariam and KEVIN
Rank 44: ISABELLA and ETHAN
Rank 45: Leah and Matthew
Rank 46: JADA and Daniel
Rank 47: Zoe and Dylan
Rank 48: MIRIAM and JUSTIN
Rank 49: Chaya and William
Rank 50: Chloe and Eric
Rank 51: Emily and JACK
Rank 52: RACHEL and Ryan
Rank 53: Camila and NOAH
Rank 54: ELLA and ELIJAH
Rank 55: CAMILA and MICHAEL
Rank 56: SOFIA and MASON
Rank 57: EMILY and TYLER
Rank 58: Fatoumata and Sebastian
Rank 59: EMMA and Joseph
Rank 60: Sophia and Liam
Rank 61: Olivia and JAYDEN
Rank 62: Isabella and Moshe
Rank 63: FIONA and Benjamin
Rank 64: MIA and Jacob
Rank 65: Grace and SEBASTIAN
Rank 66: Aaliyah and ERIC
Rank 67: Chana and Jayden