# Ordering by Multiple Columns

#### EXERCISE:
We can pass multiple arguments to the <code>.order_by()</code> method to order by multiple
columns. In fact, we can also sort in ascending or descending order for each individual
column. Each column in the <code>.order_by()</code> method is fully sorted from left to right.
This means that the first column is completely sorted, and then within each
matching group of values in the first column, it's sorted by the next column in
the <code>.order_by()</code> method. This process is repeated until all the columns in the
<code>.order_by()</code> are sorted.

#### INSTRUCTIONS:
* Select all records of the <code>state</code> and <code>age</code> columns from the <code>census</code> table.
* Use <code>.order_by()</code> to sort the output of the <code>state</code> column in ascending order and <code>age</code> in descending order. (NOTE: <code>desc</code> is already imported).
* Execute <code>stmt</code> using the <code>.execute()</code> method on <code>connection</code> and retrieve all the results using <code>.fetchall()</code>.
* Print the first 20 results.

#### SCRIPT.PY:

In [1]:
from sqlalchemy import create_engine, MetaData, Table, select, desc
engine = create_engine("sqlite:///../01-Basics of Relational Databases/census.sqlite")
connection = engine.connect()
census = Table("census", MetaData(bind=None), autoload=True, autoload_with=engine)
# Build a query to select state and age: stmt
stmt = select([census.columns.state, census.columns.age])

# Append order by to ascend by state and descend by age
stmt = stmt.order_by(census.columns.state, desc(census.columns.age))

# Execute the statement and store all the records: results
results = connection.execute(stmt).fetchall()

# Print the first 20 results
print(results[:20])

[('Alabama', 85), ('Alabama', 85), ('Alabama', 84), ('Alabama', 84), ('Alabama', 83), ('Alabama', 83), ('Alabama', 82), ('Alabama', 82), ('Alabama', 81), ('Alabama', 81), ('Alabama', 80), ('Alabama', 80), ('Alabama', 79), ('Alabama', 79), ('Alabama', 78), ('Alabama', 78), ('Alabama', 77), ('Alabama', 77), ('Alabama', 76), ('Alabama', 76)]