# From SQLAlchemy results to a Graph

#### EXERCISE:
We can also take advantage of <code>pandas</code> and <code>Matplotlib</code> to build figures of our data. Remember that data visualization is essential for both exploratory data analysis and communication of your data!

#### INSTRUCTIONS:
* Import <code>matplotlib.pyplot</code> as <code>plt</code>.
* Create a DataFrame <code>df</code> using <code>pd.DataFrame()</code> on the provided <code>results</code>.
* Set the columns of the DataFrame <code>df.columns</code> to be the columns from the first result object <code>results[0].keys()</code>.
* Print the DataFrame <code>df</code>.
* Use the <code>plot.bar()</code> method on <code>df</code> to create a bar plot of the results.
* Display the plot with <code>plt.show()</code>.

#### SCRIPT.PY:

In [ ]:
# Import pyplot as plt from matplotlib


# Create a DataFrame from the results: df
df = ____

# Set Column names
df.columns = ____

# Print the DataFrame


# Plot the DataFrame