# Using pandas to import flat files as DataFrames (1)

#### EXERCISE:
In the last exercise, you were able to import flat files
containing columns with different datatypes as <code>numpy</code> arrays. However,
the <code>DataFrame</code> object in pandas is
a more appropriate structure in which to store such data and,
thankfully, we can easily import files of mixed data types as DataFrames
using the pandas functions <code>read_csv()</code> and <code>read_table()</code>.

#### INSTRUCTIONS:
* Import the <code>pandas</code> package using the alias <code>pd</code>.
* Read <code>titanic.csv</code> into a DataFrame called <code>df</code>. The file name is already stored in the <code>file</code> object.
* In a <code>print()</code> call, view the head of the DataFrame.

#### SCRIPT.PY:

In [2]:
# Import pandas as pd
import pandas as pd

# Assign the filename: file
file = 'titanic.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame
print(df.head())

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch  \
0            1         0       3    male  22.0      1      0
1            2         1       1  female  38.0      1      0
2            3         1       3  female  26.0      0      0
3            4         1       1  female  35.0      1      0
4            5         0       3    male  35.0      0      0

             Ticket     Fare Cabin Embarked
0         A/5 21171   7.2500   NaN        S
1          PC 17599  71.2833   C85        C
2  STON/O2. 3101282   7.9250   NaN        S
3            113803  53.1000  C123        S
4            373450   8.0500   NaN        S