# Filtering your INNER JOIN

#### EXERCISE:
Congrats on performing your first <code>INNER JOIN</code>! You're now going to finish this chapter with one final exercise in which you perform an <code>INNER JOIN</code> and filter the result using a <code>WHERE</code> clause.

Recall that to <code>INNER JOIN</code> the <code>Orders</code> and <code>Customers</code> tables from the Northwind database, Hugo executed the following SQL query:

<pre><code>"SELECT OrderID, CompanyName FROM Orders INNER JOIN Customers on Orders.CustomerID = Customers.CustomerID"
</code></pre>

The following code has already been executed to import the necessary packages and to create the engine:

<pre><code>import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite:///Chinook.sqlite')
</code></pre>

#### INSTRUCTIONS:
* Use the <code>pandas</code> function <code>read_sql_query()</code> to assign to the variable <code>df</code> the DataFrame of results from the following query: <strong>select</strong> <em>all</em> records <strong>from</strong> <code>PlaylistTrack INNER JOIN Track on PlaylistTrack.TrackId = Track.TrackId</code> that satisfy the condition <code>Milliseconds &lt; 250000</code>.

#### SCRIPT.PY:

In [5]:
import pandas as pd
from sqlalchemy import create_engine
# Execute query and store records in DataFrame: df
engine = create_engine("sqlite:///Chinook.sqlite")
df = pd.read_sql_query("SELECT * FROM PlayListTrack INNER JOIN Track on PlayListTrack.TrackId = Track.TrackId WHERE Track.Milliseconds < 250000", engine)

# Print head of DataFrame
print(df.head())

   PlaylistId  TrackId  TrackId              Name  AlbumId  MediaTypeId  \
0           1     3390     3390  One and the Same      271            2
1           1     3392     3392     Until We Fall      271            2
2           1     3393     3393     Original Fire      271            2
3           1     3394     3394       Broken City      271            2
4           1     3395     3395          Somedays      271            2

   GenreId Composer  Milliseconds    Bytes  UnitPrice
0       23     None        217732  3559040       0.99
1       23     None        230758  3766605       0.99
2       23     None        218916  3577821       0.99
3       23     None        228366  3728955       0.99
4       23     None        213831  3497176       0.99