# Inserting a single row with an insert() statement

#### EXERCISE:
There are several ways to perform an insert with SQLAlchemy; however, we are going
to focus on the one that follows the same pattern as the <code>select</code> statement.

It uses an <code>insert</code> statement where you specify the table as an argument, and
supply the data you wish to insert into the value via the <code>.values()</code> method as
keyword arguments.

Here, the name of the table is <code>data</code>.

#### INSTRUCTIONS:
* Import <code>insert</code> and <code>select</code> from the <code>sqlalchemy</code> module.
* Build an insert statement for the <code>data</code> table to set <code>name</code> to <code>'Anna'</code>, <code>count</code> to <code>1</code>, <code>amount</code> to <code>1000.00</code>, and <code>valid</code> to <code>True</code>. Save the statement as <code>stmt</code>.
* Execute <code>stmt</code> with the <code>connection</code> and store the <code>results</code>.
* Print the <code>rowcount</code> attribute of <code>results</code> to see how many records were
inserted.
* Build a select statement to query for the record with the <code>name</code> of <code>'Anna'</code>.
* Hit 'Submit Answer' to print the results of executing the select statement.

#### SCRIPT.PY:

In [4]:
from sqlalchemy import MetaData, create_engine, Table, Column, String, Integer, Float, Boolean
metadata = MetaData(bind=None)
engine = create_engine("sqlite:///:memory:")
connection = engine.connect()
data = Table('data', metadata,
             Column('name', String(255), unique=True),
             Column('count', Integer(), default=1),
             Column('amount', Float()),
             Column('valid', Boolean(), default=False)
)
metadata.create_all(engine)
# Import insert and select from sqlalchemy
from sqlalchemy import insert, select

# Build an insert statement to insert a record into the data table: stmt
stmt = insert(data).values(name='Anna', count=1, amount=1000.00, valid=True)

# Execute the statement via the connection: results
results = connection.execute(stmt)

# Print result rowcount
print(results.rowcount)

# Build a select statement to validate the insert
stmt = select([data]).where(data.columns.name == 'Anna')

# Print the result of executing the query.
print(connection.execute(stmt).first())

1
('Anna', 1, 1000.0, True)