# Loading a CSV into a Table

#### EXERCISE:
You've done a great job so far at inserting data into tables! You're now going to learn how to load the contents of a CSV file into a table.

We have used the <code>csv</code> module to set up a <code>csv_reader</code>, which is just a <em>reader</em> object that can iterate over the lines in a given CSV file - in this case, a census CSV file. Using the <code>enumerate()</code> function, you can loop over the <code>csv_reader</code> to handle the results one at a time. Here, for example, the first line it would return is:

<code>0 ['Illinois', 'M', '0', '89600', '95012']</code>

<code>0</code> is the <code>idx</code> - or line number - while <code>['Illinois', 'M', '0', '89600', '95012']</code> is the <code>row</code>, corresponding to the column names <code>'state'</code> , <code>'sex'</code>, <code>'age'</code>, <code>'pop2000 '</code>and <code>'pop2008'</code>. <code>'Illinois'</code> can be accessed with <code>row[0]</code>, <code>'M'</code> with <code>row[1]</code>, and so on. You can create a dictionary containing this information where the keys are the column names and the values are the entries in each line. Then, by appending this dictionary to a list, you can combine it with an <code>insert</code> statement to load it all into a table!

#### INSTRUCTIONS:
* Create a statement for bulk insert into the <code>census</code> table. To do this, just use <code>insert()</code> and <code>census</code>.
* Create an empty list called <code>values_list</code> and a variable called <code>total_rowcount</code> that is set to <code>0</code>.
* Within the <code>for</code> loop:
 * Complete the <code>data</code> dictionary by filling in the values for each of the keys. The values are contained in <code>row</code>. <code>row[0]</code> represents the value for <code>'state'</code>, <code>row[1]</code> represents the value for <code>'sex'</code>, and so on.
 * Append <code>data</code> to <code>values_list</code>.
 * If <code>51</code> cleanly divides into the current <code>idx</code>:
   * Execute <code>stmt</code> with the <code>values_list</code> and save it as <code>results</code>.
* Hit 'Submit Answer' to print <code>total_rowcount</code> when done with all the records.

#### SCRIPT.PY:

In [ ]:
# Create a insert statement for census: stmt
stmt = ____

# Create an empty list and zeroed row count: values_list, total_rowcount
values_list = ____
total_rowcount = ____

# Enumerate the rows of csv_reader
for idx, row in enumerate(csv_reader):
    #create data and append to values_list
    data = {'state': ____, 'sex': ____, 'age': ____, 'pop2000': ____,
            'pop2008': ____}
    values_list.append(____)

    # Check to see if divisible by 51
    if idx % 51 == 0:
        results = connection.execute(____, ____)
        total_rowcount += results.rowcount
        values_list = []

# Print total rowcount
print(total_rowcount)