# Using alias to handle same table joined queries

#### EXERCISE:
Often, you'll have tables that contain hierarchical data, such as employees
and managers who are also employees. For this reason, you may wish to join a table to itself on different columns. The <code>.alias()</code> method, which creates a copy of a table, helps accomplish
this task. Because it's the same table, you only need a where clause to specify
the join condition.

Here, you'll use the <code>.alias()</code> method to build a query to join the
<code>employees</code> table against itself to determine to whom everyone reports.

#### INSTRUCTIONS:
* Save an alias of the <code>employees</code> table as <code>managers</code>. To do so, apply the method <code>.alias()</code> to <code>employees</code>.
* Build a query to select the employee <code>name</code> and their manager's <code>name</code>. The manager's <code>name</code> has already been selected for you. Use <code>label</code> to label the <code>name</code> column of <code>employees</code> as <code>'employee'</code>.
* Append a where clause to <code>stmt</code> to match where the <code>id</code> column of the <code>managers</code> table corresponds to the <code>mgr</code> column of the <code>employees</code> table.
* Order the statement by the <code>name</code> column of the <code>managers</code> table.
* Execute the statement and store all the results. This code is already written. Hit 'Submit Answer' to print the names of the managers and all their employees.

#### SCRIPT.PY:

In [4]:
from sqlalchemy import create_engine, select, MetaData, Table
engine = create_engine("sqlite:///employees.sqlite")
connection = engine.connect()
employees = Table("employees", MetaData(bind=None), autoload=True, autoload_with=engine)
# Make an alias of the employees table: managers
managers = employees.alias()

# Build a query to select manager's and their employees names: stmt
stmt = select(
    [managers.columns.name.label('manager'),
     employees.columns.name.label('employee')]
)

# Match managers id with employees mgr: stmt
stmt = stmt.where(managers.columns.id == employees.columns.mgr)

# Order the statement by the managers name: stmt
stmt = stmt.order_by(managers.columns.name)

# Execute statement: results
results = connection.execute(stmt).fetchall()

# Print records
for record in results:
    print(record)

('FILLMORE', 'GRANT')
('FILLMORE', 'ADAMS')
('FILLMORE', 'MONROE')
('GARFIELD', 'JOHNSON')
('GARFIELD', 'LINCOLN')
('GARFIELD', 'POLK')
('GARFIELD', 'WASHINGTON')
('HARDING', 'TAFT')
('HARDING', 'HOOVER')
('JACKSON', 'HARDING')
('JACKSON', 'GARFIELD')
('JACKSON', 'FILLMORE')
('JACKSON', 'ROOSEVELT')