# Leveraging Functions and Group_bys with Hierarchical Data

#### EXERCISE:
It's also common to want to roll up data which is in a hierarchical table. Rolling up data requires making sure you're careful which alias you use to perform the group_bys and which table you use for the function.

Here, your job is to get a count of employees for each manager.

#### INSTRUCTIONS:
* Save an alias of the <code>employees</code> table as <code>managers</code>.
* Build a query to select the <code>name</code> column of the <code>managers</code> table and the count of the number of their employees. The function <code>func.count()</code> has been imported and will be useful! Use it to count the <code>id</code> column of the <code>employees</code> table.
* Using a <code>.where()</code> clause, filter the records where the <code>id</code> column of the <code>managers</code> table and <code>mgr</code> column of the <code>employees</code> table are equal.
* Group the query by the <code>name</code> column of the <code>managers</code> table.
* Execute the statement and store all the results. Print the names of the managers and their employees. This code has already been written so hit 'Submit Answer' and check out the results!

#### SCRIPT.PY:

In [ ]:
# Make an alias of the employees table: managers
managers = ____

# Build a query to select managers and counts of their employees: stmt
stmt = select([____, func.count(____)])

# Append a where clause that ensures the manager id and employee mgr are equal
stmt = stmt.____

# Group by Managers Name
stmt = stmt.group_by(____)

# Execute statement: results
results = connection.execute(stmt).fetchall()

# print manager
for record in results:
    print(record)